<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    split="opusmt"
    android:isFeatureSplit="true">

    <dist:module
        dist:instant="false"
        dist:title="@string/addon_name_opusmt">
        <dist:delivery>
            <!-- Unconditional install for ALL devices (Phones, Cars, TVs) -->
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>